body {
    background-color: rgb(151, 221, 247); /*Pode escolher outra cor se quiser*/
  }
  
  h1 {
    color: aliceblue; /*Pode escolher outra cor se quiser*/
    text-align: center;
  }
  
  p {
    color:aliceblue ;
    font-family: candara ;
    font-size: 20px;
  }